#aboutUs {
    height: 300px;
    width: 98%;

    display: flex;
    margin: 1%;
    border-radius: 10px;
    
    box-shadow: 0 0 10px #989797;
    

    font-size: 100%;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(72, 64, 118);
    background-color: #f3d9ff;
}

.aboutUs_texto {
    height: 300px;
    width: 70%;


    justify-content: center;
    align-content: center;
    margin-left: 1%;
    margin-right: 1%;

}

.aboutUs_imagen{
    height: 100%;
    width: 100%;

    box-shadow: 1px 1px 1px ;
    border-radius: 2%;
}

.masInfoBoton {
    height: 5%;
    width: 30%;
    background-color: rgb(72, 64, 118);
    color: white;
    border-radius: 3px;
}