.carousel-container {
  max-width: 95%;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-container img {
  height: 200px;
  width: auto;
  object-fit: cover;
}

.custom-dot-list-style li {
  margin: 0 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.custom-dot-list-style li {
  margin: 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.custom-dot-list-style li.active {
  background-color: #333;
}