.carrito-popover {
  position: absolute;
  top: 30px; /* Ajusta según sea necesario */
  right: 0;
  width: 300px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px;
}

.carrito-popover ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.carrito-popover li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.carrito-popover li:last-child {
  border-bottom: none;
}

.carrito-popover button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.carrito-popover button:hover {
  background-color: #d32f2f;
}