.carrito-popover {
  position: absolute;
  top: 50px;
  right: 20px; 
  background-color: rgb(249, 254, 255);
  border: 1px solid #b9b9b9; 
  border-radius: 5px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
  padding: 15px; 
  width: 300px; 
}

.carrito-contenido {
  max-height: 300px; 
  overflow-y: auto; 
}

.carrito-popover h2 {
  margin: 0 0 10px; 
  font-size: 20px;
  color: #000000;
}

.carrito-popover ul {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}

.carrito-popover li {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 0; 
  border-bottom: 1px solid #000000; 
  font-family: text, serif;
  color: #000000;
  font-size: 90%;
}

.carrito-popover li:last-child {
  border-bottom: none;
}

.carrito-popover button {
  background-color: #f33451;
  color: rgb(255, 255, 255); 
  border: none; 
  border-radius: 5px; 
  padding: 5px 10px;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.carrito-popover button:hover {
  background-color: #6961ac; 
}