# Ignorar la carpeta node_modules
node_modules/

# Ignorar archivos de log
*.log

# Ignorar archivos de entorno
.env

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar carpetas de compilación
dist/
build/

# Ignorar archivos de configuración de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignorar archivos de prueba
coverage/