@font-face {
    font-family: 'title'; 
    src: url('/src/components/fonts/title.TTF');
  }
  
  @font-face {
    font-family: 'text'; 
    src: url('/src/components/fonts/text.TTF');
  }

#aboutUs {
    height: 300px;
    width: 98%;

    display: flex;
    margin: 1%;
    border-radius: 10px;
    
    box-shadow: 0 0 10px #989797;

    font-size: 100%;
    font-family: text, serif;
    color: rgb(0, 0, 0);
    background-color: #f3d9ff;
}

.aboutUs_texto {
    height: 300px;
    width: 70%;


    justify-content: center;
    align-content: center;
    margin-left: 1%;
    margin-right: 1%;

}

.aboutUs_imagen{
    height: 100%;
    width: 100%;

    box-shadow: 1px 1px 1px ;
    border-radius: 2%;
}