.tituloGaleria {
    height: 100px;
    width: 100%;

    justify-content: center;
    align-content: center;
    text-align: center;
    
    font-size: 250%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(72, 64, 118);
    font-style: italic;
}

.galeria {
    width: 98%;
    height: 400px;

    justify-content: center;
    align-content: center;
    align-items: baseline;
    
    text-align: center;
    display: flex;

}

.imgGaleria {
    height: 50%;
    width: 100%;

    background-color: blue;
    justify-content: space-between;
    align-content: center;
    justify-content: center;
    margin: 1%;


}
