#padreFooter {

    height: 100%;
    width: 100%;

    display: flex;
    background-color: #d7dff4;
}

.textoFooter {
    width: 70%;
    text-align: center;
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logoFooter{
    width: 30%;
    margin: 1%;
}